
<p id="titulo">¡Los 10 foodtrucks mas valorados!</p>
  <mat-list role="list">
    <mat-grid-list mat-list-item cols="4" rowHeight="200px">
      <!--Primer carta-->
      <mat-grid-tile [colspan]="1">
        <img src="assets/img/logo.png" alt="...">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, cum?
        Suscipit illo temporibus doloribus impedit sequi enim iure, consequuntur
        consectetur qui.</p>
      </mat-grid-tile>     
      <!--Segunda carta-->
      <mat-grid-tile [colspan]="1">
        <img src="assets/img/logo.png" alt="...">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, cum?
        Suscipit illo temporibus doloribus impedit sequi enim iure, consequuntur
        consectetur qui.</p>
      </mat-grid-tile>  
      <!--Tercera carta-->
      <mat-grid-tile [colspan]="1">
        <img src="assets/img/logo.png" alt="...">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, cum?
        Suscipit illo temporibus doloribus impedit sequi enim iure, consequuntur
        consectetur qui.</p>
      </mat-grid-tile> 
    </mat-grid-list> 
  </mat-list>
