<div class="regFoodBody" >
        <button (click)="openNav()" routerLink="/inicio" mat-button class="button-nav"> Atrás </button>
        <!-- <div id="fondo">
                <img src="assets/img/ciudad2.png" id="imagen-fondo">
            </div> -->
            <div>
            <mat-card>
                
                        <mat-grid-list cols="2" rowHeight="2:2">
                               
                                       
                                <mat-grid-tile>asdawf</mat-grid-tile>
                        </mat-grid-list>      
                </mat-card>


            </div>
</div>