#foodtruckmanagement{
    margin-top: 2em;
    margin-left: 2em;
}

table {
    width: 98%;
  }
 
#descripcion{
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 

.nu-table {
    overflow-y:auto;
    max-height: 540px;
}

.add-button {
    box-shadow: none;
    border: none;
    color: white;
    font-weight: normal;
    height: 35px;
    background-color: #eb504c;
    width: 16%;
  }

#title-add{
    display: flex;
}