#form-card {
  position: absolute;
  height: 70%;
  width: 90%;
  z-index: 3;
  left: 4%;
  border-radius: 10px;
  top: 10%;
}

#card-header {
  justify-content: center;
}

.form-signin {
  display: flex;
}

.block {
  position: relative;
  width: 50%;
}

.form-input {
  width: 85%;
  margin-bottom: 10px;
  margin-left: 5%;
}

.text-area-form {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: inherit;
  resize: none;
  margin-bottom: 15px;
}

#big-text-area-form {
  margin-left: 5%;
  width: 87%;
}

#small-text-area-form {
  width: 42%;
}

#select-form {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

#top-image-form {
  position: relative;
  z-index: 5;
  width: 30%;
  height: 10%;
}

.form-button {
  position: relative;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: normal;
  height: 35px;
  position: relative;
  background-color: #eb504c;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
  left: 5%;
}
#cancel-form-button {
  color: #eb504c;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #eb504c;
  margin-left: 15px;
}

.input-label {
  font-weight: bold;
  color: #787878;
  margin-top: 10px;
  margin-left: 5%;
}

.input-labels-container {
  display: flex;
}

.right-input-label {
  margin-left: 38%;
}

.mid-text-input {
  width: 40%;
}

.alert-form {
  color: red;
  text-align: center;
  left: 5%;
}

.ghost-button {
  box-shadow: none;
  border: none;
  background-color: white;
  left: 42.5%;
}
