#foodtruckmanagement {
  position: relative;
  height: 627px;
  display: block;
  z-index: 0;
}

.add-button {
  box-shadow: none;
  border: none;
  color: white;
  font-weight: normal;
  height: 35px;
  background-color: #eb504c;
  width: 16%;
}
