.nu-table {
  overflow-y: auto;
  max-height: 540px;
}

.reservas-table-container {
  position: relative;
  height: 42.5%;
  padding: 2%;
}

table {
  width: 98%;
}

#title-add {
  display: flex;
}

.column-title {
  font-size: large;
  font-weight: bold;
}
