<div id="nav-container">
  <div id="camion">
    <img src="assets/img/logo.png" id="logo" />
  </div>

  <div id="buttons-active">
    <div class="line-top"></div>
    <a href="/homepage">
      <button mat-button class="button-nav">
        <mat-icon aria-hidden="false">home</mat-icon> Inicio
      </button>
    </a>
    <div class="line-bottom"></div>

    <div class="line-top"></div>
    <a href="/profile">
      <button mat-button class="button-nav">
        <mat-icon aria-hidden="false">person</mat-icon> Perfil
      </button>
    </a>
    <div class="line-bottom"></div>

    <div class="line-top"></div>
    <a href="/searchfoodtruck">
    <button mat-button class="button-nav">
      <mat-icon aria-hidden="false">search</mat-icon> Buscar foodtruck
    </button>
    </a>
    <div class="line-bottom"></div>

    <div *ngIf="foodtrucker">
      <div class="line-top"></div>
      <a href="/foodtruckmanagement">
        <button mat-button class="button-nav">
          <mat-icon aria-hidden="false">local_shipping</mat-icon> Gestionar
          Foodtrucks
        </button>
      </a>
      <div class="line-bottom"></div>
    </div>

    <div *ngIf="foodtrucker">
      <div class="line-top"></div>
      <button mat-button class="button-nav">
        <mat-icon aria-hidden="false">event_note</mat-icon> Gestionar pedidos
      </button>
      <div class="line-bottom"></div>
    </div>

    <div *ngIf="foodtrucker == false">
      <div class="line-top"></div>
      <a href="/new/foodtruck">
        <button mat-button class="button-nav">
          <mat-icon aria-hidden="false">local_shipping</mat-icon> Ser
          foodtrucker
        </button>
      </a>
      <div class="line-bottom"></div>
    </div>

    <div class="line-top"></div>
    <button mat-button class="button-nav">
      <mat-icon aria-hidden="false">today</mat-icon> Gestionar eventos
    </button>
    <div class="line-bottom"></div>

    <div id="buttons-logout">
      <div class="line-top"></div>
      <button mat-button class="button-nav" id="logout" (click)="logout()">
        <mat-icon aria-hidden="false">reply_all</mat-icon> Cerrar sesión
      </button>
      <div class="line-bottom"></div>
    </div>
  </div>
</div>
